
.image {
  margin: 20px;
  float:left;
}
.text {
  font-size: 16px;
  padding-left: 1px;
  padding-right: 15px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  margin:  1px;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: left;
  padding: 14px 20px;
 text-decoration: none;
}


/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

a {
  text-decoration:none; 
  color: #0080FF;
}

a:hover {
  text-decoration:none; 
  color: #0000FF;
}

.teammate {
  display: inline-block;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}


